.nav {
  position: fixed;
  top: 0;
  padding: 1.2rem;
  width: 100%;
  height: 2rem;
  z-index: 1;
  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  top: 1.2rem;
  left: 0;
  width: 80px;
  object-fit: contain;
  padding-left: 2.5rem;
  cursor: pointer;
}

.nav__button {
  position: fixed;
  right: 20px;
  top: 0.75rem;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .nav {
    padding: 0.7rem;
    height: 1.2rem;
    z-index: 1;
  }
  .nav__logo {
    top: 0.6rem;
    padding-left: 1.2rem;
    width: 70px;
  }
  .nav__button {
    top: 0.45rem;
    cursor: pointer;
    padding: 7px 14px;
    font-size: 0.7rem;
  }
}
